/**
 * USER TYPE SELECTOR FORM COMPONENT
 *
 */

$this: '.user-selection';

#{$this} {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__list {
    margin-top: 30px;

    // max-width: max-content;
    // margin-left: auto;
    // margin-right: auto;
    text-align: center;
  }

  &__item {
    display: flex;
    align-items: center;
    //padding: 20px 10px;
    // padding: 10px 0;
    cursor: pointer;
    //border-bottom: 2px solid $c-silver-light;
    transition: all 400ms linear;

    &:first-child {
      //border-top: 2px solid $c-silver-light;
    }

    // background: $c-shapire;
    // color: $c-white;
    // text-align: center;
    & + & { margin-top: 16px; }

    &:hover {
      color: $c-shapire;
      //border-color: $c-shapire;
    }
  }

  &__ico {
    display: flex;
    width: 52px;
    height: 52px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    color: $c-silver-light;
    border: 2px solid $c-silver-light;
    border-radius: 50%;

    transition: all 400ms linear;

    #{$this}__item:hover & {
      color: $c-shapire;
      border-color: $c-shapire;
    }

    .icon {
      font-size: 24px;
    }

    display: none;
  }

  .message {
    margin-top: auto;
  }
}