/**
 * USER TYPE SELECTOR FORM COMPONENT
 *
 */

$this: '.user-selection';

#{$this} {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__list {
    margin-top: 30px;
    text-align: center;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 400ms linear;


    & + & { margin-top: 16px; }

    &:hover {
      color: $c-shapire;
    }
  }

  .message {
    margin-top: auto;
  }
}