/**
 * SIGNUP FORM COMPONENT
 *
 */

@import '../../styles/config/config';
$this: '.welcome';

#{$this} {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

  &__header {
    text-align: center;
    margin-bottom: 30px;
  }

  &__advantages {
    &__title {
      @extend %font--l;
      text-align: center;
      padding: 20px 0;
    }

    &__list {
      @extend %font--s;
      display: flex;
      flex-direction: column;
      max-width: 250px;
    }

    &__item {
      display: flex;
      align-items: flex-start;

      & + & {
        margin-top: 18px;
      }

      .icon {
        margin-right: 12px;
        margin-top: 3px;
        color: $c-green;
      }
    }
  }

  &__continue {
    margin-top: 30px;
  }
}