
$this: '.App';

#{$this} {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background: #203c5d80;
  background-image: url(images/bg-image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .main { flex: 1; }
}