/**
 * BASICS
 * - Basic classes considered as utils and general are defined here
 */

.full-height {
  height: 100%;
}

.wrapper {
  max-width: 90vw;
  width: 100%;

  // This applies from 600px onwards
  @media (min-width: 600px) {
    max-width: 640px;
  }
  // @include media($mq-sm) {
  //   padding-right: $size-r-m;
  //   padding-left: $size-r-m;
  // }
}

.title {
  @extend %font--xl;
  font-family: $f-f-paytone;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.subtitle {
  @extend %font--s;
  font-family: $f-f-barlow;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0;
}

.message {
  @extend %font--xs;
  padding: 12px 0;

  &--centered {
    text-align: center
  }
}