/**
 * BASE
 * - Base styles of the app are defined here
 */

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  @extend %font--m;
  font-family: $f-f-fjalla;
  color: $c-black;
  background: $c-white;
}
