/**
 * BASE
 * - Base styles of the app are defined here
 */

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  @extend %font--m;
  font-family: $f-f-barlow;
  color: $c-white;
  //background: $c-white;

  background-image: url(https://bit.ly/2Z37i9U);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
