/**
 * NAV
 * - Navigation element styles are defined here
 */

$this: '.nav';

#{$this} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__btn {
    @extend %font--l;
    color: $c-white;
    padding: 0;
  }

  &__close {
    margin-left: auto;
  }
}