/**
 * COLORS
 * - All the colors used in the app are defined here
 */

/*  Primary color definition */
$c-shapire: #ed77a8; //#ff9800;
$c-shapire-light: #ffa9d9;
$c-shapire-dark: #b84679;

$c-silver: #9B9B9B;
$c-silver-light: #D7D7D7;
$c-silver-dark: #727272;


$c-black: #141E28;
$c-white: #FFF;


