/**
 * FONTS
 * - All relative to fonts is defined here
 * - Fonts were downloaded from Google Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:500,600|Paytone+One');

// Families
$f-f-fjalla: 'Fjalla One', sans-serif;
$f-f-paytone: 'Paytone One', sans-serif;
$f-f-barlow: 'Barlow Semi Condensed', sans-serif;
$f-f-cycle: 'News Cycle', sans-serif;

// Sizes
$f-s-def: 14px;
$f-s-xs: 14px;
$f-s-s: 16px;
$f-s-m: 18px;
$f-s-l: 21px;
$f-s-xl: 28px;

// Line height
$f-lh-val: 1.5;
$f-lh-def: 14px * $f-lh-val;

// To extend font sizes
%font {
  &--xs {
    font-size: $f-s-xs;
    line-height: $f-s-xs * $f-lh-val;
  }

  &--s {
    font-size: $f-s-s;
    line-height: $f-s-s * $f-lh-val;
  }

  &--m {
    font-size: $f-s-m;
    line-height: $f-s-m * $f-lh-val;
  }

  &--l {
    font-size: $f-s-l;
    line-height: $f-s-l * $f-lh-val;
  }

  &--xl {
    font-size: $f-s-xl;
    line-height: $f-s-xl * $f-lh-val;
  }
}

// @font-face {
//   font-family: 'Fjalla One';
//   font-style: normal;
//   font-weight: 400;
//   src: font-url('/src/fonts/FjallaOne.ttf');
//   src:
//     font-url('/src/fonts/FjallaOne.woff') format('woff');
// }

// @font-face {
//   font-family: 'Acme';
//   font-style: normal;
//   font-weight: 400;
//   src: font-url('/src/fonts/Acme.ttf');
//   src:
//     font-url('/src/fonts/Acme.woff') format('woff');
// }

// @font-face {
//   font-family: 'Barlow Semi Condensed';
//   font-style: normal;
//   font-weight: 400;
//   src: font-url('/src/fonts/BarlowSemiCondensed.ttf');
//   src:
//     font-url('/src/fonts/BarlowSemiCondensed.woff') format('woff');
// }