@font-face {
  font-family: 'Icon font';
  src:  url('/src/fonts/icon-font.eot?rbcw4j');
  src:  url('/src/fonts/icon-font.eot?rbcw4j#iefix') format('embedded-opentype'),
    url('/src/fonts/icon-font.ttf?rbcw4j') format('truetype'),
    url('/src/fonts/icon-font.woff?rbcw4j') format('woff'),
    url('/src/fonts/icon-font.svg?rbcw4j#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icon font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discount-fill:before {
  content: "\e900";
}
.icon-discount:before {
  content: "\e901";
}
.icon-back:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e904";
}
.icon-company:before {
  content: "\e905";
}
.icon-travel:before {
  content: "\e906";
}
.icon-traveler:before {
  content: "\e907";
}
